[2015-02-10 22:45] yorgosg opened #5 "Random Crash in initAnnotationsPool method of TSClusterMapView"
I have noticed a crash that happens rarely.
The crash happens in the alloc init of the ADClusterAnnotation, in the initAnnotationPools.

appname(46839,0x10a642310) malloc: *** error for object 0x7ffa01ae89b8: incorrect checksum for freed object - object was probably modified after being freed.
*** set a breakpoint in malloc_error_break to debug

- (void)initAnnotationPools:(NSUInteger)numberOfAnno

[2015-02-10 23:02] AdamShare commented on #5
Hmm maybe there's a race condition that's causing the loop to be run more than once.  I'll look into it.

If you can recreate the bug, could you check to see which object is causing the problem from the memory location (0x7ffa01ae89b8) in the debugger?

[2015-02-10 23:25] yorgosg commented on #5
will do, thanks!

On Feb 11, 2015, at 01:02 , Adam Share notifications@github.com wrote:

[2015-03-02 11:37] kevin-hirsch opened #7 "Not zooming enough on a cluster to divide it into pins"
Hello @ashare80,

I noticed a small bug. When you tap on a cluster, the map is zooming on this cluster, then dividing it into several pins/sub-clusters. But when a cluster is englobing pins that are too close, tapping on this cluster is not zooming anymore/at all and is not dividing into pins. I have to manually zoom by hand to see the cluster dividing into pins.

You can test that bug on your dem

[2015-03-02 21:49] ctaskin commented on #7
I am having the same problem, hope you fix it soon

[2015-03-02 22:38] AdamShare commented on #7
This bug will be fixed in the next update.  For some reason if you tell the map view to zoom to a map rect that is past the maximum internal zoom level it decides to just not zoom at all instead of zooming to the maximum level.

[2015-03-02 22:39] kevin-hirsch commented on #7
Thanks!

[2015-03-02 22:59] bigtigercahit opened #8 "Zooming in and out shifts cluster annonations"
Hi @ashare80,
I noticed another issue and I will provide some screenshots from your sample app tomorrow.

The clustered annotations are moving left when zooming in (displaying regular annotations) and zooming out. If you do it several times you can see the clustered annotations' position are moving left and a little bit down.

Thanks
Cahit

[2015-03-02 23:04] ctaskin commented on #7
Thanks @ashare80,
Do you have an ETA on the next update?

[2015-03-02 23:05] AdamShare commented on #7
@bigtigercahit Most likely this weekend

[2015-03-02 23:12] ctaskin commented on #7
Great! Thanks...

[2015-03-02 23:14] AdamShare commented on #8
@bigtigercahit This is happening with the sample app or your own implementation?

[2015-03-02 23:17] ctaskin commented on #8
Both

[2015-03-02 23:30] ctaskin commented on #8
@ashare80 Here are some screenshots for the issue. Check the position of "2" cluster in the middle at SS1 and SS2. SS3 is the distributed version, regular annotations are not moving. It happens when zooming in to regular annotations and zooming out. They are mostly moving towards left with my POIs

https://dl.dropboxusercontent.com/u/2687801/Cluster/SS1.png
https://dl.dropboxusercontent.com/u/2687

[2015-03-03 17:56] bigtigercahit opened #9 "Annotation with 0,0 center offset animation problem"
Hi @ashare80,
I used "self.centerOffset = CGPointMake(0,0);" for a different annotation image in "ClusteredAnnotationView", but animation problems occurred when playing with the map.
Modifying "TSClusterAnnotationView" with code below solved the problem.
FYI

//    if (!CGPointEqualToPoint(self.centerOffset, annotationView.centerOffset)) {
//        self.centerOffset = annotationView.centerOffset;

[2015-03-03 18:00] AdamShare commented on #9
is this related to #8 or is that still a problem as well?

[2015-03-03 18:03] ctaskin commented on #9
Nope, it did not solve the #8 issue

[2015-03-03 18:03] AdamShare commented on #9
OK thanks!

[2015-03-09 06:06] AdamShare commented on #7
@bigtigercahit @kevin-hirsch Pushed updates to the develop branch to fix this issue and others. See if it helps and I'll go ahead and merge into master and update the pod as well.

[2015-03-09 09:15] ctaskin commented on #7
Hi @ashare80 the zooming issue is better now but there are some new weird stuff happening.
When I distribute the cluster, sometimes moving the map without changing the zoom regroups them.
Another issue is sometimes clicking on the last cluster (it has multiple annotations with same coordinates) makes the map zoom out and zoom in instantly, which causes re-clustering and weird annotation actions.
I

[2015-03-09 10:37] kevin-hirsch commented on #7
It works better now but tapping on a cluster with pins that are close is not zooming enough to split them the first time. Each time you tap on the cluster, it zooms until the cluster is able to split into different pins. Video here: http://fr.tinypic.com/r/28r38n5/8

[2015-03-09 15:17] zfrankz opened #10 "Overlapped annotations when they are in the same coordinates"
Hello, I started playing with this library last Friday and is awesome! But while running some tests I found some things.

I found a small issue when I have 2 annotations in the exactly same point, please see the following screenshot. Is there any way to add more displacement to the annotations when they are "de-clustered"?
https://www.dropbox.com/s/j9ma2i6x9b9i92b/overlapping.png?dl=0

Another iss

[2015-03-09 15:28] zfrankz opened #11 "Annotations going crazy when changing map layout and center"
Hello, I have a "layout changing" map view (changes the height of the view with some user interactions) and those changes (changing map center coordinates as well) make the annotations going crazy, changing their positions and some disappearing!

Screenshots:

https://www.dropbox.com/s/t3kmqytjzl6wtx9/crazy1.png?dl=0

When I select the annotation in the first "O" of London I change the height of t

[2015-03-09 16:53] AdamShare commented on #7
@kevin-hirsch Just pushed an update that should help. I converted the mapRect size to map camera altitude to more accurately zoom without using the setRegion or setVisibleMapRect, both of which get stuck at at a mapRect width of 3000.

[2015-03-09 17:31] AdamShare commented on #7
@bigtigercahit "sometimes moving the map without changing the zoom regroups them"

There are two ways to minimize this and you'll have to find a good middle ground between performance (smaller values) and accuracy (larger values).
1. Increase the edgeBufferSize.
2. Increase clusterPreferredVisibleCount (probably what you need)

Here's some info on how it all works so you can determine what is best

[2015-03-09 17:35] AdamShare commented on #11
If you could try the code on the Develop branch and see if there's any change to you results.  Will look into this further.

[2015-03-09 17:42] AdamShare commented on #7
@bigtigercahit Just pushed a fix for the "clicking on the last cluster" part.

[2015-03-09 17:51] AdamShare commented on #10
@zfrankz Hey thanks for the feedback.  I can look into making the displacement larger or a property available to you to change the size. As you can see in https://www.dropbox.com/s/po5qiw322lc1p09/multiple2.png?dl=0 I'm trying to solve that issue but creating a circle around the original point but it's not perfect as it's not really taking into account the size of the annotationView.

Your second

[2015-03-09 17:52] #9 closed

[2015-03-09 20:35] kevin-hirsch commented on #7
Thank you @ashare80, I will test the new commits on develop tomorrow morning (GMT+1)

[2015-03-10 10:08] kevin-hirsch commented on #7
Hello @ashare80, I have tested you latest commits, it improves a lot the zooming on small clusters but I notice 2 things:
1. When I tap on a small cluster (= cluster with pins very near each other), it is zooming to the correct zoom level but not dividing into pins. If I tap again, there is no more zoom but the cluster just divides itself into the pins. [Video](http://fr.tinypic.com/r/ipm51j/8) is

[2015-03-10 12:20] zfrankz commented on #11
Hello, I'm testing the new code and I realised that now, when an annotation is selected in the map, the class of this annotation view has changed. For example, if is a clustered one, now is member of my custom clustered class instead of the TSClusterAnnotationView class. I haven't checked the changes on the code but at first instance I thought it was because iOS 8.2 (I updated a device) but I trie

[2015-03-10 13:34] zfrankz commented on #10
I tried the new code as I commented in #11 and the overlapping is still happening (I think there aren't any changes about that thing yet). I think the second one is definitely related to #8

Thanks for the quick response!

[2015-03-10 17:04] AdamShare commented on #7
@kevin-hirsch

1: Yeah that's kind of a work around I've built in since the zooming on a cluster and the actual clustering are two independent parts. The clustering operation does no know that you tapped on a cluster it just knows that the visible region has changed and should update accordingly. Once you've hit or come close to the max zoom level of the map view I just make the next tap force a s

[2015-03-10 17:11] AdamShare commented on #11
@zfrankz Yes it was pointed out to me that the TSClusterAnnotationView was being returned instead of the custom cluster annotation view class provided which is a bug.  The reason being you'll never have access to the correct annotation when the cluster is split into individual annotations. TSClusterAnnotationView will always point to the wrapper cluster annotation and never the original annotation

[2015-03-10 17:19] kevin-hirsch commented on #7
@ashare80

Thanks! I'll be testing `clusterPreferredVisibleCount` and tell you if it changes something ;)

No problem for the little shift when zooming, it is not very disturbing so it is okay. But I have found this [thread](http://stackoverflow.com/questions/19107550/how-to-slow-mkmapcamera-movement) on stackoverflow, maybe trying this could solve the problem:

[code]

[2015-03-10 17:30] AdamShare commented on #7
@kevin-hirsch  Ah so I did some testing and that doesn't fix it but I see the problem.  That reaction you are seeing is what the mapView does when it hits the "brick wall" of the max zoom level.  I'll just limit the altitude of the zoom animation so that it never goes past the around 300 meters maximum.

[2015-03-10 17:37] AdamShare commented on #8
@bigtigercahit I need some help recreating the problem consistently.  I have seen this previously in developing the library but I thought it was fixed.

Anything in particular I should be doing to see this effect? What device are you testing on?

[2015-03-10 17:45] kevin-hirsch commented on #7
@ashare80: Okay, so any cluster will divide into pins at the altitude of 300 meters no matter the pins approximation?

[2015-03-10 17:53] AdamShare commented on #7
You can check out what I'm doing here: https://github.com/ashare80/TSClusterMapView/blob/develop/Pod/Classes/TSClusterMapView.m#L729-L764

If you are currently < 500 meters altitude I'm not zooming and just divide the individual cluster

If you are currently > 500 meters and the zoom level of the cluster annotation map rect puts you at an altitude < 280 meters (around max zoom level, it varies by

[2015-03-10 17:54] ctaskin commented on #8
@ashare80 I observe the issue consistently when I distribute and regroup annotations with the same coordinate. I am not sure but I think higher numbers of annotation in the group increases the distance it moves.
I do not observe it for annotations with different coordinates. I can repeat it with iPhone6 iOS8  and Simulator.

I suggest you to add 10 annotations at the same coordinate, distribute th

[2015-03-10 17:59] AdamShare commented on #8
@bigtigercahit Ah ok that helps I'll check into that. If it is what I think it is, it will be an easy fix.  Thanks!

[2015-03-10 18:11] bigtigercahit opened #12 "Cluster annotation with no label text"
@ashare80 When I was testing the latest version I see cluster annotations with no text several times. They were at close zoom levels. Did you see anything like that?
I could not recreate it, I will let you know if find out how to do it.
Thanks

[2015-03-10 18:33] kevin-hirsch commented on #7
@ashare80: Okay perfect! I'll test it tomorrow morning (GMT+1) ;)

[2015-03-10 19:40] AdamShare commented on #12
@bigtigercahit  Yeah I need to revert a change that I thought might help #8 but didn't and causes this

[2015-03-10 19:44] AdamShare commented on #12
@bigtigercahit  should be back to normal now with latest push

[2015-03-10 19:45] ctaskin commented on #12
@ashare80  I will check that, thanks

[2015-03-10 19:55] ctaskin commented on #12
@ashare80 I could not recreate it with a quick test, it looks fine. I will let you know if it happens again.
Thanks

[2015-03-10 20:10] #12 closed

[2015-03-11 11:02] kevin-hirsch commented on #7
@ashare80, Sorry but, there's still a problem: I have to tap twice on a cluster to divide it into pins.
1. First tap = zoom
2. Second tap = dividing

Video [here](http://fr.tinypic.com/r/xlmsd2/8).

[2015-03-11 18:41] zfrankz commented on #11
Ok, please tell me when that bug is solved because I will need access to the custom annotationView to change the image sometimes to make them look as "selected" (the user can select them from a list of locations).

Now with the new code, all the annotations make a kind of blinking when they are "relocated" because of the change of the layout but at least they are not disappearing!

Thanks

[2015-03-13 18:10] AdamShare commented on #7
@kevin-hirsch Yes. That's as good as it will get with the current implementation.  Will work on fixing that but it will take some time because it requires changes to how the clustering algorithm works.

The clustering happens on regionDidChange so once you tap and the zoom occurs, everything is reclustered and at this point the clustering does not take into account that you previously selected an

[2015-03-14 09:37] iMone opened #13 "Crashes when adding annotations on iOS7"
The app crahes when trying to add an annotation on a mapView from which a number of annotations has been just removed.

The issue can be reproduced launching the ClusterDemo on an iOS7 device on simulator: add all annotations via "+All" and remove them via "-All". If "+All" is pressed again, it crashes at:

ADClusterAnnotation.m (row 58)

- (void)reset {
    self.cluster = nil;
    self.coordinate

[2015-03-14 16:49] kevin-hirsch commented on #7
@ashare80: Okay, I understand. Keep me posted. Thanks!

[2015-03-16 03:44] AdamShare commented on #8
@bigtigercahit Pushed code to fix issue. Let me know if it is fixed for you as well

[2015-03-16 03:45] AdamShare commented on #7
@kevin-hirsch pushed code that should improve the issue

[2015-03-16 09:24] kevin-hirsch commented on #7
@ashare80: Great! It seems to work well :)
Thank you :+1:

Should I close this issue or do you still want to improve something for this issue?

[2015-03-16 17:40] AdamShare commented on #7
@kevin-hirsch  I'm going to close this for now if it's working well

[2015-03-16 17:40] #7 closed

[2015-03-16 17:46] #8 closed

[2015-03-17 12:28] ctaskin commented on #8
@ashare80 Yes it is fixed for me as well...
Thanks

[2015-03-20 17:27] AdamShare commented on #11
@zfrankz  I'm assuming your map height change is animated?  Recreated something like you describe with an animated change of the layout constraints to the mapView.

I believe there's a clashing of the UIView animation in the clustering and the animated layout of subviews during an animated change of the frame or constraints.

Working on a fix to the problem.

[2015-03-29 02:40] AdamShare commented on #13
@iMone Should be fixed in latest update. Thanks

[2015-03-29 02:40] #13 closed

[2015-03-30 10:10] zfrankz commented on #11
Yes, is animating the height of the map view. Thanks for the support.

[2015-03-30 15:19] zfrankz opened #18 "Exchanging annotations location inside a cluster"
Hello, after the update, I realised that annotations inside cluster are exchanging location. I attach some screenshots. The price I show is assigned as a property in the annotation (my annotation is a MKPlacemark subclass and that info is inside the AddressDictionary property).

LINKS TO THE SCREENSHOTS:

1. Get closer to a cluster of 3
https://www.dropbox.com/s/c3qb5uxp0qzcwsx/changing_1.png?dl=0

[2015-04-23 12:26] uwinkler opened #19 "Annotations are not visible if removed and added back again"
Cluster annotations and normal annotations are not visible if one removes all annotations and than adds them back again to the MapView.

You can reproduce this behaviour using the TSCClusterMapViewDemo app

Step 1: press +All to add all public bathrooms. The cluster annotation will appear
Step 2: press -All to remove all annotations.
Step 3: press +All again. No cluster annotation will be visible.

[2015-05-22 19:00] ehealthADMatt commented on #13
I am still having this problem with the latest version of the pod ... both on simulator and device.

[2015-05-22 21:54] AdamShare commented on #13
@ehealthADMatt I can't recreate  the issue in the example project.  When does the problem arise?

[2015-05-24 17:20] yorgosg commented on #13
The crash is happening on iOS 7 for me too. This is a stack trace of the crash:

Crashed Thread
0
  libobjc.A.dylib                       0x3973c626 objc_msgSend + 6
1
  Foundation                            0x2f8cce87 NSKeyValueWillChange + 472
2
  Foundation                            0x2f8b9a29 -[NSObject(NSKeyValueObserverNotification) willChangeValueForKey:] + 178
3
  Foundation

[2015-05-25 17:26] ehealthADMatt commented on #13
I am still looking into this but it looks like it crashes after this line in my code.

self.mapView showAnnotations:self.mapView.annotations animated:YES];

I am using this line of code because it figures out the best region and zoom to display all annotations.  This is important because I filter my annotations via a search input box.

Offending code is ADClusterAnnotation reset

[2015-05-25 19:32] AdamShare commented on #13
@yorgosg @ehealthADMatt your issues are both a bit different but see if they are fixed in this latest update

[2015-05-25 19:48] AdamShare commented on #18
@zfrankz  Maybe this latest update helps

[2015-05-26 16:26] zfrankz commented on #18
I tried the latest update and fixed some issues in my code and looks like it is solved! thanks!!

[2015-05-26 17:35] zfrankz commented on #11
Changing the height of the map is very heavy for some devices so I decided to change map region offset instead.

[2015-05-26 17:39] AdamShare commented on #11
@zfrankz Nice that's probably the better way to do it.

Since annotations are treated as subviews they re-layout during frame changes which causes the problems with animations.

[2015-05-28 10:46] zfrankz opened #20 "Sometimes a cluster annotation becomes a single annotation"
Playing around with the new code, I realised that sometimes a cluster annotation is suddenly becoming a single annotation and, actually, when you click on that, the map drives you to the location of the single annotation is displaying rather than "opening" the cluster.

I don't know how to reproduce it but is not the first time that happens to me with this new version. Is while using the map zoomi

[2015-06-03 17:47] zfrankz commented on #20
Hello, I was planning to go live in the next 2-3 weeks so I want to know if it's possible to try to fix it soon.

Thanks

[2015-06-04 01:09] AdamShare commented on #20
@zfrankz I'll try to look into it and hopefully find a resolution by Sunday evening

[2015-06-05 11:12] zfrankz commented on #20
@ashare80 thank you very much, I appreciate that.

[2015-06-10 22:16] jpmhouston commented on #5
I've also seen crashes in `initAnnotationPools:` when running in the simulator, this is one of them I've seen a few times, when called from `mapView:regionDidChangeAnimated:`:

[code]

The message printed to the lldb console:
`Description of exception being thrown: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[450]'
Warning: hit breakpoint while run

[2015-07-07 21:32] jpmhouston opened #21 "Drag spontaneously cancelled after moving a short distance"
In one mode of my mapview, its setup with a single draggable annotation with a custom view. After the drag starts and the annotation view has moved a few pixels (like 5-10), something is causing the mapview to set its drag state to `MKAnnotationViewDragStateEnding`. Also, the touch that was dragging the annotation starts scrolling the map instead. I change my mapview from a `TSClusterMapView` subc

[2015-07-28 18:58] architector1 opened #22 "Zooming out animation"
A little detail to the behaviour of leaf annotations turning to clustered annotations while zooming out of the map:
It would be great if the leaf annotations would stay as they are but move to the mutual position and afterwards turn into the clustered annotation. Right now the annotations are already changed to clustered annotations (including number and UIImage) and then they are moved to the mut

[2015-07-28 19:02] architector1 opened #23 "Group annotations"
I have a couple of annotations which should be clustered always together and not with other annotations. For instance I have an application which shows annotations for certain regions of a city. It would be great if all the annotations in "Manhattan" would join together and the annotations of "Brooklyn" go into a new cluster. Therefor something like a "group ID" could be set while creating the ann

[2015-07-31 22:16] jpmhouston commented on #21
Looks like my problem was caused by this:

[code]

I've removed it and everything to do with the added pan gesture recognizer and dragging works fine.

[2015-08-05 07:57] riazhazan commented on #10
Do you have any updates for this issue. Still struggling to handle this issue. https://www.dropbox.com/s/po5qiw322lc1p09/multiple2.png?dl=0
@zfrankz  did you found any workaround for this issue?

[2015-08-05 18:34] AdamShare commented on #21
@jpmhouston Yes sorry that was carry over from the project which spawned this library.  I will make that piece optional/removed in the next update as it could result in undesirable effects as you have found.

[2015-08-05 18:40] AdamShare commented on #23
@architector1 Yeah this was something that was on my roadmap.  It's definitely doable just haven't had the time to make the switch. Right now all the cluster-able annotations live in one tree and basically like you say you would just have multiple cluster trees and manage them by an ID.

[2015-08-05 18:48] AdamShare commented on #22
@architector1 Yes right now the clustering operation already assigns all the annotations their new cluster objects before the animation begins and calls the delegate to update their views.  The reason for this is because some view that are off screen would not be the correct view prior to animating on screen.

I can look into being more selective and better handling this situation.

[2015-08-05 18:51] AdamShare commented on #5
@jpmhouston thanks for pointing this out.  I'll try to get out a fix asap

[2015-08-05 18:53] AdamShare commented on #10
@riazhazan What you are displaying is what is supposed to happen.  Is it perfect? no.

When you have multiple annotations close enough together and they cannot separate naturally I force separation into a circle around the mutual center coordinate.

If you have any suggestions on your desired outcome I'm open to looking into making a change that improves on the current solution.

[2015-08-05 18:54] #18 closed

[2015-08-06 04:31] riazhazan commented on #10
@ashare80 Thanks for your reply.You have done a wonderful work in this map view which works like a charm. Really amazing library. Please See the screenshot attached what my issue is. See the clusters are overlapped each other. So it looks weird and congested. Is there a way to restrict the number of annotations to show a perfect circle with no overlapping and other annotations as clustered numbers

[2015-08-23 19:49] jpmhouston opened #24 "Vanishing annotations"
In my app I've seen instances where cluster annotations vanish incorrectly. I think it most often happens when moving some annotations off-screen, zooming in the map somewhat, then moving to make those annotations on-screen again. The correct annotations are present while panning the map, but sometimes disappear after the drag stops.

I tried debugging `TSClusterOperation`, but it made my head hur

[2015-08-31 17:54] AdamShare commented on #24
@jpmhouston If you have something mocked up that easily reproduces the problem I can take a look otherwise it is pretty hard to tell.  Sounds like annotations are getting marked as off screen that aren't actually off screen.

[2015-08-31 18:09] AdamShare commented on #19
@uwinkler I think this is fixed in latest version. Let me know if not.

[2015-08-31 18:09] #19 closed

[2015-08-31 18:19] AdamShare commented on #5
@jpmhouston Just pushed new version see if that resolves the issue

[2015-09-01 06:07] uwinkler commented on #19
Cheers. I will have a look. By the way; your clustering view is one of the best. Great stuff :+1:

[2015-09-01 19:11] jpmhouston commented on #24
don't have a mockup, but i can send you the whole app i was working on for my client :-O. i can disable the delayed needsRefresh call & tell you where to scroll to on the map to find test data that should show the problem

[2015-09-01 19:16] AdamShare commented on #24
Sure that works I'll take a look.

[2015-09-13 15:52] jian1989 opened #25 "Cluster Annotations is not visible."
I have added new viewcontroller with TSClusterMapview.
When I will open this viewcontroller at first, it's working as well. But If I will reopen viewcontroller again (without turn off app), any cluster is not showing.

I have tested it in example project also. It's same issue. If you will add new viewcontroller with TSClusterMapview and show via storyboard or code(self.navigationController pushvie

[2015-09-14 19:33] AdamShare commented on #25
@jian1989 What do you mean by "reopen viewcontroller again"?  Popping the nav then pushing again? Closing the app then reopening?

[2015-09-16 21:06] AdamShare commented on #25
@jian1989 Try latest version should be fixed

[2015-09-16 21:06] #25 closed

[2015-10-20 12:12] riazhazan commented on #10
@ashare80   I have a suggestion for this issue.If the annotation count is greater than 15 or if the count of annotations will surely overlaps each other, then can we list these users in a table like a popover. and the user can click on an annotation which is listed in popover table

[2015-10-20 17:44] AdamShare commented on #10
@riazhazan Yeah I was thinking something like a delegate call that would give you the opportunity to do what you wanted with the annotations/annotationViews or default to existing outcome

Might be able to get something up in the next few days

[2015-10-24 20:00] AdamShare commented on #10
@riazhazan check out the latest version going up now.  Two new delegate calls.  See if that helps resolve your problem.
- (BOOL)mapView:(TSClusterMapView *)mapView shouldForceSplitClusterAnnotation:(ADClusterAnnotation *)clusterAnnotation;
- (BOOL)mapView:(TSClusterMapView _)mapView shouldRepositionAnnotations:(NSArray <ADClusterAnnotation *>_)annotations toAvoidClashAtCoordinate:(CLLocationCoordi

[2015-10-24 20:17] #5 closed

[2015-10-24 20:18] #21 closed

[2015-10-27 09:36] AdamShare commented on #23
@architector1 When you get a chance try out the grouped cluster annotation feature on branch feature/multi-tree. Should work pretty well if the annotations are grouped in different regions of the map like you were looking to do.

[2015-10-27 10:27] yorgosg opened #29 "Show number produced by sum of custom data on clusters instead of number of pins in cluster"
Hello, I opened this issue about a feature I would love to have! An app that shows venues that host concerts on map could show a cluster of 4 venue pins but instead of showing the number 4 on it, it could show the sum of concerts of the 4 venues. With the current functionality, I assume I can just remove the annotations that have no concerts. It would be great if we could give a number as metadata

[2015-10-27 16:57] AdamShare commented on #29
@yorgosg Hey this is currently possible.  You have control over the annotation views for single and cluster annotations.  But with the current implementation it could become slow to calculate if the data set becomes large enough.

Every time the map clusters you'll get a delegate call to update the MKAnnotationViews.  Cluster annotations will be of class ADClusterAnnotation which will contain an a

[2015-10-29 13:44] riazhazan commented on #10
@ashare80 Wow. Thats awesome. Heaps of thanks for your kind support. Loved the way you did it. This is what i exactly needed. :100:

[2015-10-29 17:36] #10 closed

[2015-11-25 13:02] aytunch opened #30 "negative span value results in crash"
Crash Report:
Inside "TSClusterMapView.m":

    - (void)touchesEnded:(NSSet<UITouch *> *)touches withEvent:(UIEvent *)event {
        ....
        if (MKMapRectSizeIsGreaterThanOrEqual(zoomTo, self.visibleMapRect)) {
            zoomTo = MKMapRectInset(zoomTo, zoomTo.size.width/4, zoomTo.size.width/4);
            //At this point zoomTo.size.height becomes negative
        }
        MKCoordinateRe

[2015-11-25 21:59] aytunch commented on #30
By the way, i added the exact 4 annotations with the same coordinates to your sample app and realized that it works as it should. I am investigating why i am having an odd issue like this in my app. It might be related to something else, i will write soon. Thanks

[2015-12-02 00:21] aytunch commented on #30
I realized this only happens when the map is in landscape mode(width>height). But couldn't exactly pinpoint the code to fix..

[2015-12-04 18:44] pcsantana opened #31 "Is there a way to intercept the click to does not expand the pins in the last zoom level?"
Hii,
First, thank you for sharing this great and useful lib.
I am trying to use it, but I want a behavior little different when I give zoom in the last level and is not be possible to ungroup the pins. In this scenario, I want to intercept the default behavior (replace the pins around the original coordinate when the user tap on pin). In my case I wish to display some list with the places data (be

[2015-12-07 11:03] pcsantana commented on #31
Hi,
I found out! Just return "false" in:
- (BOOL)mapView:(TSClusterMapView *)mapView shouldForceSplitClusterAnnotation:(ADClusterAnnotation *)clusterAnnotation;

  Thank you!!

[2015-12-08 20:06] pcsantana commented on #31
Hi,

If possible I would to suggest a little modification. If there are a lot of places very close to each other, with another places with exactly the same coordinates, the algorithm not call the method below:

[code]

Debugging the code, I find out the reason. Because the method is only called when the groupedRounded annotations count is equal to 1:

[code]

Maybe this condition can be parameteri

[2015-12-11 01:09] AdamShare commented on #31
@pcsantana Hmm yeah I guess the idea there was that if they weren't close enough to get grouped together into 1 single shared coordinate it should always split.

I think we can just get rid of that if statement of that solves your problem?

[2015-12-11 01:18] AdamShare commented on #30
@aytunch Ok I'll check it out.

In your images are those annotation views or call outs?

If they are annotation views the size may cause some problems with splitting since the algorithm takes into account the size of the views.  So if your leafs all appeared as the one with "cookshop" they probably wouldn't all be able to fit on the screen together and the cluster will never split.  That can be ov

[2015-12-11 01:35] pcsantana commented on #31
Yes @ashare80, I commented the if statement and it solved my problem

[2015-12-11 01:39] AdamShare commented on #31
@pcsantana ok cool next version will remove it

[2015-12-11 01:46] AdamShare commented on #30
If you could try and see if this fixes the problem with the crash

change in the touches ended method the

[code]

to

[code]

[2015-12-11 01:47] pcsantana commented on #31
Thank you! :)

[2016-01-08 09:24] bsoyluoglu commented on #24
Having the same issue @jpmhouston work around works like a charm.

[2016-02-26 12:18] zfrankz commented on #20
Any news? Sorry, the project was paused until now. Actually I've updated the library and now, when selecting a cluster and the zoom in animation finishes, the cluster doesn't split automatically and i have to tap again on it.

[2016-02-27 00:40] yorgosg opened #32 "How to select a clustered annotation programmatically?"
Hi,

I would like to select a clustered annotation programmatically to simulate the user pressing the annotation pin, in order for the map to zoom in to show the annotation's children.

I have tried calling selectAnnotation on the annotation I want to simulate the action in the didFinishBuildingClusterTreeForMapPoints method, with no luck so far. So, what I do is:

id <MKAnnotation> annotation = [

[2016-04-04 23:44] AdamShare commented on #32
Hey @yorgosg You may be able to simulate this action by calling the mapView method for showing a MKMapRect and passing in the mapRect from the rootMapCluster property available on the mapView after the finished delegate.

[2016-04-13 11:27] yorgosg commented on #32
Thanks a million Adam, that fixed it!

[2016-04-13 11:27] #32 closed

[2016-04-22 16:50] sucrewar opened #36 "Cluster use 200% of cpu"
when i open tsclustermapview and touch on cluster to expand,  the cpu usage is 200% whose crash the app . i use tsclustermapview version 2.3.1 .

[2016-04-23 10:19] vjerryv opened #37 "the map show nothing in release build, normal in debug build"
I tested all and everything well in debug build, but when I upload to app store, try on test flight.
It is nothing to show on the map.

[2016-04-23 18:51] AdamShare commented on #37
@vjerryv Interesting.  Is there a pervious version that works properly for you?

[2016-04-23 19:02] vjerryv commented on #37
2.1.0 works

[2016-04-23 19:06] vjerryv commented on #24
i got the same issue.

[2016-04-24 05:34] AdamShare commented on #37
Hmm ok I merged in a branch that added support for OSX so if 2.1.0 works as needed on iOS I would just stick with that version for now. I'll let you know if I find the issue and update.

[2016-04-24 06:18] vjerryv commented on #37
thanks

[2016-04-24 06:43] vjerryv opened #38 "The annotation disappear suddenly, sometimes swap to other annotation...happen often"
https://www.youtube.com/watch?v=Ud-d4giz_4A

You can see the video, these are 2 red and 1 green annotation I want to show you.
when I drag them to off the screen, and drag them back, they may disappear or swap the other annotation. it happens very often.

My DB has about few hundred annotation. Is my implement problem or library bug?

`
    func removeAllPin(){
        mapView_.removeAnnotations(p

[2016-04-29 14:13] pcecchetti opened #39 "Added annotations at viewDidLoad, but they appear on map only if I resize it."
Also tried a needsRefresh call after I added all the annotations, but only way to show them is to resize map. What I'm doing wrong

[2016-05-02 11:19] #39 closed

[2016-05-02 11:20] appfabtech commented on #37
I can confirm the problem. With release build you get the first redraw of the clusters then nothing happens, on zoom, on data refresh...

[2016-05-02 13:08] appfabtech commented on #37
@vjerryv don't you have any issue with map refresh using 2.1.0? I rolled back at that version and not when I replace the annotations set (after a new textual search that change the dataset for the map) the new annotations (singles and clustered) are not visible until I manual zoom in or out the map.

[2016-05-03 03:31] vjerryv commented on #37
Yes, there are many critical problem while using TSClusterMapView.

[2016-05-04 16:11] CavalcanteLeo commented on #36
+1

same here

![captura de tela 2016-05-04 as 13 09 05](https://cloud.githubusercontent.com/assets/1735944/15020724/aa14506c-11f9-11e6-9966-feecf288d079.png)

https://github.com/ashare80/TSClusterMapView/blob/master/Pod/Classes/TSClusterOperation.m#L463

35k loops in this while

[2016-05-04 17:05] CavalcanteLeo commented on #36
![captura de tela 2016-05-04 as 14 04 22](https://cloud.githubusercontent.com/assets/1735944/15022248/203ce540-1201-11e6-8f90-20be244633fe.png)

In another test, it did a little less loop, but still high

[2016-05-04 19:37] AdamShare commented on #36
Cool I'll change that up on the next update.

[2016-05-06 01:34] AdamShare commented on #36
@cavalcanteleo see if the latest version fixes

[2016-05-06 15:06] CavalcanteLeo commented on #36
tkssss, i'll see it

[2016-05-06 15:10] CavalcanteLeo commented on #36
there are many improvements on thsi commit https://github.com/ashare80/TSClusterMapView/pull/40/commits/b52f965430cc7d505e257b7e76913cc07bcaab8c

[2016-05-06 16:33] jmrborges05 commented on #36
thanks for fix :)

[2016-05-08 05:08] #36 closed

[2016-05-12 08:22] appfabtech commented on #37
Hello @ashare80, any chance to have the issue fixed?
thank you :)

[2016-05-12 15:18] AdamShare commented on #37
Sorry super busy. Can't seem to reproduce the issue, is this still a problem on the latest update?

[2016-07-28 17:15] sucrewar opened #42 "Terminating app due to uncaught exception 'NSRangeException'"
When i open the map view the app crash.
i try to check where is the crash, the map view crash before viewDidLoad.
The trace of the error is this:
 *** Terminating app due to uncaught exception 'NSRangeException', reason: '-[__NSCFArray objectAtIndex:]: index (0) beyond bounds (0)'

i check in crashlytics to view where is the error and the report is in this file:
TSClusterMapView.m line 36
-[TSClus

[2016-08-04 21:32] AdamShare commented on #42
Do you have a full stack trace?

Does this crash happen when you add annotations or during the initialization? If it is during initialization you might have an issue outside the scope of this framework.

[2016-11-04 05:25] mhmtcakir commented on #32
hi, i would like to zoom, expand and select a split cluster annotation programatically.  @yorgosg

i m using mapView.showAnnotations method below to show selected annotation.

 _let selectedAnnotation  = annotationArray[Int(currentIndex)] as! ADClusterAnnotation
 var zoomArray:[MKAnnotation] = []
zoomArray.append(selectedAnnotation)
mapView.showAnnotations(zoomArray, animated: true)_

when i use t

[2016-11-09 08:30] mhmtcakir commented on #32
i need help! @ashare80 @yorgosg

[2016-11-09 22:05] yorgosg commented on #32
Look at lines 841-865 of TSClusterMapView.m, something similar is done there. First finding zoomTo and then setting the region of the map.

[2016-12-21 19:52] alexsteinerde opened #43 "Annotation cannot get selected"
I cannot select the annotations on the map. But the user location annotation works. Can you please give me a hint.

[2016-12-21 20:11] alexsteinerde commented on #43
This has been fixed by using the method `addAnnotations` instead of `addAnnotation`.

[2016-12-21 20:11] #43 closed

[2017-02-16 10:15] trungnguyen1791 commented on #22
Hi @ashare80 .
Thanks for great lib.
I have 1 question related to this issue. Can I somehow force clusters to split manually? I mean, split a few level without zooming .
Thanks.

[2017-05-07 12:32] alexsteinerde opened #44 "tvOS support"
What do you think about porting this library to tvOS? It would be awesome!

[2017-07-14 14:58] x128 opened #45 "Clusterization broken in 3D view"
Well, it's not a true 3D "flyover" view, it's about changing the camera view angle with two-fingers up&down "scrolling". Clusterization seems to be always broken after setting the lowest view angle (in any cases). It's never broken with other view angles.

Here's the demo project screenshot:

![img_7093](https://user-images.githubusercontent.com/1914665/28217305-53a25b18-68bd-11e7-9432-b65190cf020

[2019-12-05 12:29] gerchicov-bp opened #49 "Example is broken"
[code]